<div id="content">
	<%- include motto -%>
	<div class="titlu">LOG-IN</div>
	<form id="formLogin" method="post" action="autentificare">
		<div class="linieForm">
			<span class="labelInput">Mail:</span>
			<input type="text" name="mail" class="inputText">
			<div class="c"></div>
		</div>		
		<div class="linieForm">
			<span class="labelInput">Parola:</span>
			<input type="password" name="parola" class="inputText">
			<div class="c"></div>
		</div>		
		<input type="submit" value="Submit" name="submit" class="submit">
	</form>
</div>
