<div id="stanga">
	<a class="slide-fwd-center" href="#" onclick="incarca('content')">Home</a>
	<a href="#edit?idDom=0" onclick="incarca('edit?idDom=0');">Adauga domeniu</a>
	<a href="#domenii" onclick="incarca('domenii');">Domenii</a>
	<a href="#contnou" onclick="incarca('contnou');">Creare cont</a>
	<a href="#login" onclick="logout('idUser');">Log-out</a>
</div>
