<div id="sus">
	<div class="container">
		<div class="iconMeniu">
			<img src="menu.png" />
		</div>
		<div class="logo">
			<img src="logo.png" />
		</div>
		<div class="linkuriSus">
			<img src="login.png" />
			<a id="logIn" onclick="incarca('login');"></a>
			<div class="c"></div>
		</div>
		<div class="c"></div>
	</div>
</div>
